@charset "UTF-8";
* {
  font-family: 'Oswald','微軟正黑體';
}

html, body {
  overflow-x: hidden;
  font-size: 16px;
  position: relative;
  background-color: #ececec;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

.loading {
  z-index: 8;
  background-color: #282f44;
  color: #e6af2e;
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loading .loader {
  border: 16px solid #282f44;
  border-top: 16px solid #e6af2e;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin-bottom: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

header {
  position: relative;
  background-color: #282f44;
  text-align: center;
}

header .logofont {
  padding: 250px 0;
  color: #ececec;
  font-size: 100px;
  font-family: 'Dancing Script';
  font-weight: 700;
}

header .marginbottom {
  position: absolute;
  width: 95%;
  bottom: 0;
  right: -20px;
  animation: upin 2s both;
}

@media screen and (max-width: 1125px) {
  header .marginbottom {
    width: 120%;
  }
}

@keyframes upin {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 0;
  }
}

header .explore {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  top: 85%;
  color: #f5d061;
  opacity: 0;
  transition: 0.5s;
}

header .explore:after {
  display: block;
  content: "v";
  transform: scaleX(1.2) scaleY(0.5);
}

header .explore.at_top {
  opacity: 1;
}

nav.navbar {
  transition: 0.5s;
  z-index: 7;
}

nav.navbar a, nav.navbar i {
  transition: 0.5s;
}

nav.navbar a:hover, nav.navbar i:hover {
  color: grey;
}

nav.navbar button:foucs {
  outline-color: #ececec;
}

nav.navbar.at_top {
  background-color: transparent;
  color: #ececec;
}

nav.navbar.at_top a {
  color: #ececec;
}

nav.navbar.at_top i {
  font-size: 30px;
  color: #ececec;
}

.drop_down {
  background-color: #ececec;
}

.drop_down i {
  font-size: 30px;
  color: black;
}

.drop_down a {
  color: black;
}

.navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.logobrand {
  width: 60%;
}

section {
  padding: 60px 0;
  position: relative;
}

section#section_about {
  background-color: #e6af2e;
  top: -10px;
}

section#section_about .container {
  transform: rotate(15deg) scale(0.9);
}

section#section_about .row {
  color: black;
}

section#section_about .row .r1text {
  font-size: 70px;
  font-weight: 800;
  margin: 0;
}

section#section_about .row .r2text {
  font-size: 25px;
  font-weight: 500;
  margin: 0;
}

section#section_about .row .r3text {
  font-size: 40px;
  text-align: right;
  font-weight: 800;
  margin: 0;
}

section#section_about .row .btn-area {
  height: 100px;
}

section#section_about .row a {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%) rotate(10deg);
}

section#section_about #cat {
  width: 30%;
  max-width: 300px;
  position: absolute;
  right: 0px;
  bottom: -1%;
  transform: translateX(-50%);
  z-index: 4;
}

@media screen and (max-width: 1125px) {
  section#section_about #cat {
    width: 100%;
    right: -10%;
    bottom: -5%;
  }
}

section#section_about #cross {
  position: absolute;
}

@media screen and (max-width: 576px) {
  section#section_about #cross {
    opacity: 0;
  }
}

section#section_about #cross:before, section#section_about #cross:after {
  content: "";
  display: block;
  width: 60px;
  height: 15px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

section#section_about #cross:after {
  transform: translate(-50%, -50%) rotate(136deg);
}

section#section_about .tri {
  transform: rotate(-15deg);
}

section#section_about .tri1 {
  width: 350px;
}

section#section_about .tri2 {
  width: 20px;
  margin-left: 20px;
}

section#section_about .tri3 {
  width: 150px;
  margin-left: 70%;
}

section#section_about .tri4 {
  width: 70px;
  margin-left: 100%;
}

section#section_about .tri5 {
  width: 80px;
  margin-left: 100%;
}

section#section_about .marginbottom {
  position: absolute;
  width: 60%;
  top: calc(100% - 2px);
  z-index: 3;
}

section#section_service {
  background-color: #ececec;
}

section#section_service .col-sm-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section#section_service p {
  line-height: 1.8;
  letter-spacing: 2px;
}

section#section_service .icon_service {
  width: 100%;
}

section#section_works {
  background-color: #ececec;
}

section#section_works .marginbottom {
  position: absolute;
  width: 95%;
  top: 95%;
  right: -20px;
  animation: upin 2s both;
  z-index: 5;
}

@media screen and (max-width: 576px) {
  section#section_works .marginbottom {
    top: calc( 100% - 2px);
  }
}

section#section_works .work {
  height: 230px;
  cursor: pointer;
  padding: 5px;
  overflow: hidden;
}

section#section_works .work:hover:before, section#section_works .work:hover .texts {
  opacity: 1;
}

section#section_works .work.big {
  height: 460px;
}

@media screen and (max-width: 576px) {
  section#section_works .work.big {
    height: 230px;
    width: 110%;
  }
}

section#section_works .work:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 5;
  opacity: 0;
  transition: 0.5s;
}

section#section_works .work .texts {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 8;
  opacity: 0;
  transition: 0.5s;
}

section#section_works .work .texts a {
  color: #ececec;
  text-decoration: none;
}

section#section_works .work .texts a .title {
  font-weight: 600;
  line-height: 1.2;
}

section#section_works .work .texts a p {
  line-height: 1.5;
}

section#section_works .work img {
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 576px) {
  section#section_works .work img {
    height: auto;
    width: 110%;
  }
}

section#section_workers {
  background-color: #ececec;
}

section#section_workers .marginbottom {
  position: absolute;
  width: 95%;
  top: 95%;
  right: -20px;
  animation: upin 2s both;
  z-index: 5;
}

@media screen and (max-width: 576px) {
  section#section_workers .marginbottom {
    top: calc( 100% - 2px);
  }
}

section#section_workers .box {
  width: 380px;
  background-color: #ececec;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
  transition: 0.5s;
}

@media screen and (max-width: 768px) {
  section#section_workers .box {
    width: 350px;
  }
}

section#section_workers .box:hover {
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
  transform: translate(-5px, -5px);
}

section#section_workers .box .top {
  background-size: cover;
  height: 330px;
  position: relative;
}

section#section_workers .box .top .name {
  position: absolute;
  margin: 0;
  left: 0;
  bottom: 0;
  padding: 5px 15px;
  letter-spacing: 2px;
  color: white;
  font-weight: 300;
  background: linear-gradient(transparent 0%, black 100%);
  width: 100%;
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 15px;
}

section#section_workers .box .top .name .smalltxt {
  font-size: 14px;
}

section#section_workers .box .top .tag {
  width: 25px;
  height: 50px;
  background-color: #f5d061;
  float: right;
  margin-right: 20px;
}

section#section_workers .box .cirButton {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  bottom: -20px;
  background-size: cover;
}

section#section_workers .box .bottom {
  padding: 10px 20px 20px 20px;
  position: relative;
}

section#section_workers .box .bottom li {
  padding: 5px 0;
  font-size: 14px;
}

section#section_workers .box .bottom h3 {
  display: inline-block;
  margin: 0;
  font-size: 14px;
  font-weight: 700;
}

section#section_workers .box .bottom ul {
  list-style: none;
  padding: 0;
  margin-bottom: 40px;
}

section#section_workers .box .bottom .btn {
  padding: 5px 10px;
  letter-spacing: 2px;
  position: absolute;
  right: 4%;
  bottom: 8%;
  font-size: 14px;
}

section#section_workers .box .bottom .btn:focus {
  box-shadow: none;
}

section#section_workers .box .bottom .btnWebsite {
  background-color: #f5d061;
}

section#section_workers .box .bottom .btnWebsite:hover {
  background-color: #f8de91;
  transition: 0.5s;
}

section#section_workers .box .bottom .btnWebsite:focus {
  outline: none;
}

section#section_workers .box a {
  color: initial;
  text-decoration: none;
}

section#section_workers .box a:focus {
  outline: none;
}

section#section_contact {
  background-color: #282f44;
  color: #ececec;
  overflow: hidden;
}

section#section_contact .cat {
  width: 150px;
  position: absolute;
  bottom: 0px;
  transition: 0.3s;
}

@media screen and (max-width: 576px) {
  section#section_contact .cat {
    width: 100px;
  }
}

section#section_contact #cat_blue {
  right: 240px;
  z-index: 3;
}

@media screen and (max-width: 576px) {
  section#section_contact #cat_blue {
    right: 140px;
  }
}

section#section_contact #cat_grey {
  right: 100px;
}

@media screen and (max-width: 576px) {
  section#section_contact #cat_grey {
    right: 0px;
  }
}

section#section_contact #cat_yellow {
  right: 170px;
}

@media screen and (max-width: 576px) {
  section#section_contact #cat_yellow {
    right: 70px;
  }
}

section#section_contact .mails {
  height: 400px;
}

section#section_contact .mails .mailbody {
  background-color: #ececec;
  color: #282f44;
  padding: 20px;
  padding-left: 40px;
  position: absolute;
  width: 90%;
  transform: translateX(-30px);
}

section#section_contact .mails .mailcover {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  top: 70%;
  transform: rotate(5deg) scale(2.2) translate(-50%, -50%);
}

section#section_contact .mails .mailcover img {
  width: 120%;
}

section#section_contact input, section#section_contact textarea {
  display: block;
  background-color: transparent;
  border: none;
  border: solid 3px #282f44;
}

section#section_contact input:focus, section#section_contact textarea:focus {
  outline: none;
}

section#section_contact textarea {
  height: 140px;
  width: 100%;
}

footer#footer {
  position: relative;
  background-color: #e6af2e;
  text-align: center;
}

footer#footer .copyright {
  padding: 10px 0;
  font-size: 16px;
}
/*# sourceMappingURL=style.css.map */