<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title james
        link(rel="stylesheet", href="./css/fontawesome.css")
        link(rel="stylesheet", href="./css/bootstrap.css")
        link(rel="stylesheet", href="./css/aos.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.7.0/css/lg-fb-comment-box.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.7.0/css/lg-transitions.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.7.0/css/lightgallery.css")
        link(rel="stylesheet", href="./css/james.css")
    body
        .topbar
            img.icon(src="http://www.freeiconspng.com/uploads/images-facebook-f-logo-png-transparent-background-page-2-29.png")
            input#search_input(placeholder="搜尋人、地點、事物")
        .cover
        
        .container
            .midbar
                .personimg
                    .names
                        h2.name 許家誠
                        h5.emg_name (James Hsu)
            .row
                .col-12.col-lg-4
                    #bottom_left_first.experence(data-aos="fade-up")
                        p
                            i.fa.fa-briefcase
                            span &nbsp;在網軟擔任努力學習中的設計師<br>
                            i.fa.fa-graduation-cap 
                            span &nbsp;之前任職青年志工大聯盟副資傳長<br> 
                            i.fa.fa-university
                            span &nbsp;就讀元智大學資訊管理學系<br>
                            i.fa.fa-plane
                            span &nbsp;現居台北市<br>
                            span.edit 編輯詳細資料
                    #bottom_left_second.postpic(data-aos="fade-up")
                        .postpictitle
                            img(src="./img/fb/picture.png", alt="picture")
                            span 相片
                            .add 新增相片
                        .postpics.row
                            .col-4.postpic1
                                img.img-fluid(src="./img/portfolio/square/dragonboat.png", alt="postpic")
                            .col-4.postpic2
                                img.img-fluid(src="./img/portfolio/square/weatherbox.png", alt="postpic")
                            .col-4.postpic3
                                img.img-fluid(src="./img/portfolio/square/coffeecard.png", alt="postpic")
                            .col-4.postpic4
                                img.img-fluid(src="./img/portfolio/square/illuminationbooks.png", alt="postpic")
                            .col-4.postpic5
                                img.img-fluid(src="./img/portfolio/square/resume.png", alt="postpic")
                            .col-4.postpic6
                                img.img-fluid(src="./img/portfolio/square/gift.png", alt="postpic")
                            .col-4.postpic7
                                img.img-fluid(src="./img/portfolio/square/cutepeople.png", alt="postpic")
                            .col-4.postpic8
                                img.img-fluid(src="./img/portfolio/square/beautifulcity.png", alt="postpic")
                            .col-4.postpic9
                                img.img-fluid(src="./img/portfolio/square/bootstrapbook.jpg", alt="postpic")
                    #bottom_left_third.friends.sticky-top(data-aos="fade-up")
                        .friendstitle
                            img(src="./img/fb/friend.png", alt="friend")
                            span 朋友
                            .add 尋找朋友
                        .friendspics.row
                            .col-4.friendpic1
                                a(href="https://www.youtube.com/watch?v=EroOICwfD3g" target="_blank")
                                    img(src="./img/friendpic/friendpic1.jpg", alt="postpic").img-fluid
                                    span 扛轎的
                            .col-4.friendpic2
                                a(href="https://www.facebook.com/wecarekhtw/" target="_blank")
                                    img(src="./img/friendpic/friendpic2.png", alt="postpic").img-fluid
                                    span 善逸的謊言
                            .col-4.friendpic3
                                a(href="https://www.youtube.com/watch?v=fQFC2Qaqg_c" target="_blank")
                                    img(src="./img/friendpic/friendpic3.jpg", alt="postpic").img-fluid
                                    span 嘉明
                            .col-4.friendpic4
                                a(href="https://www.dcard.tw/f/house/p/233576436" target="_blank")
                                    img(src="./img/friendpic/friendpic4.png", alt="postpic").img-fluid
                                    span Copy House
                            .col-4.friendpic5
                                a(href="https://www.youtube.com/watch?v=okRkOdJXH_E" target="_blank")
                                    img(src="./img/friendpic/friendpic5.jpg", alt="postpic").img-fluid
                                    span 亞洲實幹王
                            .col-4.friendpic6
                                a(href="https://www.youtube.com/watch?v=kvE0qSPS1kY" target="_blank")
                                    img(src="./img/friendpic/friendpic6.jpg", alt="postpic").img-fluid
                                    span 氣炸姊
                            .col-4.friendpic7
                                a(href="https://www.youtube.com/channel/UCK7LdglLCApOTaylxX8hW2Q" target="_blank")
                                    img(src="./img/friendpic/friendpic7.jpeg", alt="postpic").img-fluid
                                    span 國師
                            .col-4.friendpic8
                                a(href="https://www.youtube.com/channel/UCAsJVaqMX97EU8SOhtaKXgw" target="_blank")
                                    img(src="./img/friendpic/friendpic8.jpg", alt="postpic").img-fluid
                                    span 鹽酥英語
                            .col-4.friendpic9
                                a(href="./vivian.html" target="_blank")
                                    img(src="./img/friendpic/friendpic9.jpg", alt="postpic").img-fluid
                                    span 張怡文
                .col-12.col-lg-8
                    #bottom_right_first.write(data-aos="fade-up")
                        .topicon
                            ul
                                li
                                    i.fa.fa-pencil-alt
                                    |&nbsp;建立貼文
                                li 
                                    i.fa.fa-camera
                                    |&nbsp;相片 / 影片
                                li
                                    i.fa.fa-video 
                                    |&nbsp;直播視訊
                                li
                                    i.fas.fa-flag
                                    |&nbsp;生活要事
                        .top
                            .photo
                            .text 在想什麼呢？
                        .icon
                            ul
                                
                                li 
                                    img(src="./img/fb/picture.png", alt="picture")
                                    span 相片 / 影片
                                li
                                    img(src="./img/fb/tag.png", alt="tag")
                                    span 標註朋友
                                li
                                    img(src="./img/fb/smile.png", alt="smile")
                                    span 感受 / 活動
                                li
                                    span ...
                        .btns
                            .button.open
                                i.fas.fa-globe-europe
                                |公開
                                i.fas.fa-caret-down
                            .button.publish 發佈
                    #bottom_right_0601.post(data-aos="fade-up")
                        .top
                            .photo
                            .text
                                .name 許家誠
                                .date
                                    |6月1日 下午5:17
                                    i.fas.fa-globe-europe
                                    i.fas.fa-caret-down
                        .middle
                            .text
                                p 再過幾個禮拜就要過端午節了，這次同事將製作端午賀卡的任務交給我，一開始想說可以用日式浮世繪呈現海浪，那真的好美，但考慮到不是所有人都能接受這種風格，於是我選擇日式小清新的感覺。
                                .pics.aniimated-thumbnials
                                    a(href="./img/portfolio/drangonboat.png" title="端午賀卡")
                                        img(src="./img/portfolio/drangonboat.png", alt="dragonboat")
                                .hashtag #米米的前端人生 #製圖製起來 #端午節
                        .bottom
                            .see
                                img(src="./img/fb/like.png", alt="like")
                                .people Wecare和其他666人
                            hr
                            .feedback.row
                                .col-4.like
                                    i.far.fa-thumbs-up
                                    span 讚
                                .col-4.talk
                                    i.far.fa-comments
                                    span 留言
                                .col-4.share
                                    i.fas.fa-share
                                    span 分享
                            hr
                            .message
                                .photo
                                input.speak(placeholder="留言......")
                    #bottom_right_0525.post(data-aos="fade-up")
                        .top
                            .photo
                            .text
                                .name 許家誠
                                .date
                                    |5月25日 下午3:38
                                    i.fas.fa-globe-europe
                                    i.fas.fa-caret-down
                        .middle
                            .text
                                p 今天向公司請假了，因為社團要幫即將畢業的學長姐慶祝（簡單講就是學長姐來吃免錢的，我們要幫他付錢==）。我在空閒的時候還是繼續在做學校要的期末網頁，你現在看到的這篇就是在下午三點多在街區商號打的。
                                p 來介紹一下我做的網頁ㄅ。其實我是將之前做過的半成品拿來改的，首頁的部分寫了蠻多原生的js，像是透過滑鼠的移動讓貓咪看著箭頭、滑鼠移到貓咪上面，貓咪就會跳起來、點選導覽列平滑的移動等。首頁應用了蠻多正在學的東西，像是bootstrap以及自己寫的js，再加上css。而分頁我則是也fb的方式來呈現，所有看到的頁面都是用css慢慢刻出來的，還有加上js套件如slick、lightbox、AOS等套件，應用的部分比較多，希望大家會喜歡～
                                .webs
                                    a.weblink(href="./index.html" target="_blank")
                                        .webname 首頁、
                                    a.weblink(href="./james.html" target="_blank")
                                        .webname 分頁
                                    
                                .hashtag #米米的前端人生 #實習 #期末報告
                        .bottom
                            .see
                                img(src="./img/fb/like.png", alt="like")
                                .people 元智大學、元智資管系和其他52人
                            hr
                            .feedback.row
                                .col-4.like
                                    i.far.fa-thumbs-up
                                    span 讚
                                .col-4.talk
                                    i.far.fa-comments
                                    span 留言
                                .col-4.share
                                    i.fas.fa-share
                                    span 分享
                            hr
                            .message
                                .photo
                                input.speak(placeholder="留言......")
                    #bottom_right_0520.post(data-aos="fade-up")
                        .top
                            .photo
                            .text
                                .name 許家誠
                                .date
                                    |5月20日 下午5:20
                                    i.fas.fa-globe-europe
                                    i.fas.fa-caret-down
                        .middle
                            .text
                                p 今天是2020520，一堆人結婚誒，下次可能要等2025520或是2094520ㄅ哈哈哈 （題外話
                                p 除了正在進行的案子外，由於期末快接近了，我們這學期的實習也差不多要告一段落了（但暑假跟下學期依然持續進行嗚嗚）。告一段落是指什麼意思呢？就是要驗收我們這學期的實習成果：同個公司的要繳交一份紙本文件，一人最少要寫十頁，此外還要做一個網站來呈現實習心得，繳交前呢還要給我們的指導老師看過才能交出去。
                                p 指導老師這部分我就很有意見了，我們實習是算學分的，一半是公司評分而另一半是指導老師。公司評分這當然很正常，畢竟我們都在他們那邊上班，由他們評分完全合情合理；然而指導老師卻是系辦指定，指導老師可以算是掛名的，沒有給一些建議或是關心學生實習的情況。校內實習的專題生每個禮拜定期會與指導老師開會討論專題方向，老師評分是合理的；校外實習平常都在公司學習，鮮少與指導老師有交集，又因每個人接觸的東西都不太一樣，指導老師說不定連自己的學生是在做什麼的都不知道呢～要一個不知道你在公司做什麼的老師給你實習打分數，這不是很可笑很諷刺嗎？
                                p BTW，我現在正在弄期末要的網站，不得不說我弄的蠻起勁的哈哈哈哈，成果在哪裡能看到呢？你現在就看到了R～

                                .hashtag #米米的前端人生 #實習 #期末報告 #抱怨文
                        .bottom
                            .see
                                img(src="./img/fb/like.png", alt="like")
                                .people 奇奇、蒂蒂和其他22人
                            hr
                            .feedback.row
                                .col-4.like
                                    i.far.fa-thumbs-up
                                    span 讚
                                .col-4.talk
                                    i.far.fa-comments
                                    span 留言
                                .col-4.share
                                    i.fas.fa-share
                                    span 分享
                            hr
                            .message
                                .photo
                                input.speak(placeholder="留言......")
                    #bottom_right_0429.post(data-aos="fade-up")
                        .top
                            .photo
                            .text
                                .name 許家誠
                                .date
                                    |4月29日 下午3:44
                                    i.fas.fa-globe-europe
                                    i.fas.fa-caret-down
                        .middle
                            .text
                                p 這禮拜終於回公司上班了，我還想繼續再待在家裡睡覺等到快九點才起來～去公司都要早起我不要～
                                p BTW我這次做了一個天氣盒子，我覺得豪可愛喔哈哈哈，之後的基本上就不再是只有html跟css了，連js、ajax等都會進來。到現在同事需要我幫忙的蠻多都是跟js有關，但我還是沒有很熟，只能用網路上摳網路上大神們的程式碼來修改（有時根本都沒改...
                                p PS.由於作品是放在codepen上，沒有特別處理程響應式網站，建議使用桌機或筆電瀏覽。
                                .webs
                                    a.weblink(href="https://cdpn.io/Jameshsu0407/full/YzyXreo/dGrXWKqbemjM" target="_blank")
                                        .webname 天氣盒子、
                                    a.weblink(href="https://cdpn.io/Jameshsu0407/full/RwWWobe/YvkgOezpmnQk" target="_blank")
                                        .webname 訂貨計數器、
                                    a.weblink(href="https://cdpn.io/Jameshsu0407/full/YzyyobW/VJkxxOjGqELk" target="_blank")
                                        .webname 手機切換、
                                    a.weblink(href="https://cdpn.io/Jameshsu0407/full/MWaKYxY/LDMmdELJWRzk" target="_blank")
                                        .webname 購物清單、
                                    a.weblink(href="https://cdpn.io/Jameshsu0407/full/OJyRqGL/bZrQWEnbpgwk" target="_blank")
                                        .webname 餘光。啟航、
                                    a.weblink(href="https://jameshsu0407.github.io/web_print-RWD/" target="_blank")
                                        .webname 印刷術的歷史
                                .pics.aniimated-thumbnials
                                    a(href="./img/portfolio/weatherbox.png" title="天氣盒子")
                                        img(src="./img/portfolio/weatherbox.png", alt="weatherbox")
                                .hashtag #米米的前端人生 #html #css #js #codepen #github
                        .bottom
                            .see
                                img(src="./img/fb/like.png", alt="like")
                                .people 666、DANie和其他32人
                            hr
                            .feedback.row
                                .col-4.like
                                    i.far.fa-thumbs-up
                                    span 讚
                                .col-4.talk
                                    i.far.fa-comments
                                    span 留言
                                .col-4.share
                                    i.fas.fa-share
                                    span 分享
                            hr
                            .message
                                .photo
                                input.speak(placeholder="留言......")
                    #bottom_right_0422.post(data-aos="fade-up")
                        .top
                            .photo
                            .text
                                .name 許家誠
                                .date
                                    |4月22日 下午12:53
                                    i.fas.fa-globe-europe
                                    i.fas.fa-caret-down
                        .middle
                            .text
                                p 每天都在練習，每天都在進步～這次大多數練習都放在codepen上，主要是練習基本的css跟js，還有龜速學習Vue。
                                p 跟著老師的進度我能更深入了解語法，以前為了調整一個小地方，在網路上爬文求解，就算找到答案後還是不知所以；如今可以一針見血知道問題出在哪裡，並且快速解決問題～
                                p PS.由於作品是放在codepen上，沒有特別處理程響應式網站，建議使用桌機或筆電瀏覽。 
                                .webs
                                    a.weblink(href="https://cdpn.io/Jameshsu0407/full/ExjvGdG/jVMpobVoPwOk" target="_blank")
                                        .webname 咖啡名片、
                                    a.weblink(href="https://cdpn.io/Jameshsu0407/full/rNVpBNJ/wQMPozDomdEk" target="_blank")
                                        .webname 浮光書店名片、
                                    a.weblink(href="https://cdpn.io/Jameshsu0407/full/vYOpaNK/RBAOJXZJmaQr" target="_blank")
                                        .webname 履歷表、
                                    a.weblink(href="https://cdpn.io/Jameshsu0407/full/ZEGRKYz/mWkoNLdNWmYA" target="_blank")
                                        .webname 禮物們、
                                    a.weblink(href="https://cdpn.io/Jameshsu0407/full/dyoqKmN/nqMwvWjvdOXk" target="_blank")
                                        .webname 可愛的小人、
                                    a.weblink(href="https://cdpn.io/Jameshsu0407/full/vYObxov/dXkqBNYBmGaM" target="_blank")
                                        .webname 美麗的城市
                                .pics.aniimated-thumbnials
                                    a(href="./img/portfolio/coffeecard.png" title="咖啡名片")
                                        img.pic1(src="./img/portfolio/coffeecard.png", alt="coffeecard")
                                    a(href="./img/portfolio/illuminationbooks.png" title="浮光書店名片")
                                        img.pic2(src="./img/portfolio/illuminationbooks.png", alt="illuminationbooks")
                                    a(href="./img/portfolio/resume.png" title="履歷表")
                                        img.pic3(src="./img/portfolio/resume.png", alt="resume")
                                    a(href="./img/portfolio/gift.png" title="禮物們")
                                        img.pic4(src="./img/portfolio/gift.png", alt="gift")
                                    a(href="./img/portfolio/cutepeople.png" title="可愛的小人")
                                        img.pic5(src="./img/portfolio/cutepeople.png", alt="cutepeople")
                                    a(href="./img/portfolio/beautifulcity.png" title="美麗的城市")
                                        img.pic6(src="./img/portfolio/beautifulcity.png", alt="beautifulcity")
                                .hashtag #米米的前端人生 #遠距上班 #WFH #css #線上課程 #codepen
                        .bottom
                            .see
                                img(src="./img/fb/like.png", alt="like")
                                .people 橘子、老鼠和其他8人
                            hr
                            .feedback.row
                                .col-4.like
                                    i.far.fa-thumbs-up
                                    span 讚
                                .col-4.talk
                                    i.far.fa-comments
                                    span 留言
                                .col-4.share
                                    i.fas.fa-share
                                    span 分享
                            hr
                            .message
                                .photo
                                input.speak(placeholder="留言......")
                    #bottom_right_0408.post(data-aos="fade-up")
                        .top
                            .photo
                            .text
                                .name 許家誠
                                .date
                                    |4月8日 下午8:09
                                    i.fas.fa-globe-europe
                                    i.fas.fa-caret-down
                        .middle
                            .text
                                p 有人覺得我上班都沒人管，都在自己弄自己的事情，其實並沒有喔～公司正在進行的案件我有幫忙處裡喔，如智邦公益館上資料、台灣服務科學官網的影片、路德基金會網頁排版等我都有幫忙！
                                p 前陣子主管希望我主導台灣公益資訊中心的改版，前端頁面要我負責，我當下真的是嚇死了！以我一個新人真的能接下這個重任嗎？我希望是可以的！加油！因此我先使用Adobe XD先規劃頁面（如果直接開始用html切版之後要修改會死掉）這是我第一次接觸UI的軟體，也是慢慢摸索才學會的。
                                p 此外，學會了Bootstrap後我開始加強css的基本能力，報名了吳哲宇老師的網路課程學習相當多的進階應用。如今做網站不是使用html而是使用pug；css也不再慢慢刻，可以用sass來幫忙；版本控制使用github（他還是免費的伺服器），不過我還是有很多要學習的，希望能繼續保持下去！
                                p PS.有些東西包含公司機密沒辦法放～拍謝啦，公益資訊中心預計會在今年第四季上線，之後大家就可以看到囉！
                                .vid.embed-responsive.embed-responsive-16by9
                                    iframe(src="https://www.youtube.com/embed/dw9DtGIKwaM" frameborder="0" autoplay=1 allowfullscreen).embed-responsive-item
                                    
                                .webs
                                    a.weblink(href="http://www.npo.org.tw/" target="_blank")
                                        .webname 台灣公益資訊中心
                                .hashtag #米米的前端人生 #bootstrap #遠距上班 #WFH #css #台灣公益資訊中心
                        .bottom
                            .see
                                img(src="./img/fb/like.png", alt="like")
                                .people 桑德斯、裴洛西和其他27人
                            hr
                            .feedback.row
                                .col-4.like
                                    i.far.fa-thumbs-up
                                    span 讚
                                .col-4.talk
                                    i.far.fa-comments
                                    span 留言
                                .col-4.share
                                    i.fas.fa-share
                                    span 分享
                            hr
                            .message
                                .photo
                                input.speak(placeholder="留言......")
                    #bottom_right_0407.post(data-aos="fade-up")
                        .top
                            .photo
                            .text
                                .name 許家誠
                                .date
                                    |4月7日 上午11:23
                                    i.fas.fa-globe-europe
                                    i.fas.fa-caret-down
                        .middle
                            .text
                                p Today is my birthday~
                                p Fasure的網站終於做好了RRRRRR（虛擬的品牌）費盡我的洪荒之力終於完成了！我是用Bootstrap4做的，另外還有使用slick.js好讓輪播圖能在手機上好好運作、AOS.js加入滾輪下滑等構件進入的動畫等等，前端算是蠻好進入的，但要學的東西真的好多，學了一個後另外一個又剛好出現就要不斷的一直學，真的好累。
                                p 公司希望我學4版因為這是最新的，但公司目前的產品都是用3版，兩者差異其實蠻多的，有些東西被砍掉，但也有新增的ex. Card～反正我用4版現在算是得心應手啦，公司希望我能夠幫助產品改版，不知道我能不能做到呢～也只能繼續加油了～
                                p 附上Fasure網站連結
                                .webs
                                    a.weblink(href="https://jameshsu0407.github.io/web_Fasure-RWD/index.html" target="_blank")
                                        .webname Fasure
                                .hashtag #米米的前端人生 #bootstrap #遠距上班 #WFH #Fasure #slcik.js #AOS.js
                        .bottom
                            .see
                                img(src="./img/fb/like.png", alt="like")
                                .people 電獺少女、Elias和其他9人
                            hr
                            .feedback.row
                                .col-4.like
                                    i.far.fa-thumbs-up
                                    span 讚
                                .col-4.talk
                                    i.far.fa-comments
                                    span 留言
                                .col-4.share
                                    i.fas.fa-share
                                    span 分享
                            hr
                            .message
                                .photo
                                input.speak(placeholder="留言......")
                    #bottom_right_0401.post(data-aos="fade-up")
                        .top
                            .photo
                            .text
                                .name 許家誠
                                .date
                                    |4月1日 下午1:47
                                    i.fas.fa-globe-europe
                                    i.fas.fa-caret-down
                        .middle
                            .text
                                p 今天是愚人節～但今年好像都沒被騙，應該說不是被騙，而是完全沒人理嗚嗚嗚，變成邊緣人惹～
                                p 最近在用Bootstrap寫一個衣服品牌的商店，目前還在努力，之後給大家看！
                                p 現在在公司也算是慢慢步上軌道了，平日都有早會，用意是讓團隊成員了解今天彼此要做什麼事，有問題也可以互相討論。主管人也很好，很關心我的情況，而他們也有很多事情要忙，無法一一教導我，因此我都是自學居多，一開始真的很痛苦，毫無頭緒可言，但後來也就慢慢習慣了，即使為了搞懂一個東西要花很多時間，每天的進度會變得很慢，但這都是自己去摸索出來的東西，雖然慢但能確確實實記在腦海裡。
                                p 喔對了，因為疫情的關係，我現在是在家工作喔～希望每個人都能平平安安的！
                                .hashtag #米米的前端人生 #bootstrap #遠距上班 #WFH
                        .bottom
                            .see
                                img(src="./img/fb/like.png", alt="like")
                                .people 太太太、廁所門、茶葉蛋和其他5人
                            hr
                            .feedback.row
                                .col-4.like
                                    i.far.fa-thumbs-up
                                    span 讚
                                .col-4.talk
                                    i.far.fa-comments
                                    span 留言
                                .col-4.share
                                    i.fas.fa-share
                                    span 分享
                            hr
                            .message
                                .photo
                                input.speak(placeholder="留言......")
                    #bottom_right_0325.post(data-aos="fade-up")
                        .top
                            .photo
                            .text
                                .name 許家誠
                                .date
                                    |3月25日 下午8:21
                                    i.fas.fa-globe-europe
                                    i.fas.fa-caret-down
                        .middle
                            .text
                                p 歷經快一個月了，我終於把書看完了～（撒花
                                p 我覺得Bootstrap真的是一個蠻好用的東西，他能快速套版，但缺點也很明顯，就是網頁大同小異，而且超級單調，所以才需要用css慢慢刻ㄅ。
                                p 書中有教好多的語法，其中還介紹超好用的fontawesome解決icon的小問題～可以想像成他將icon變成文字，因此可以在css裡面直接調整文字大小、顏色等她就會跟著變化了～
                                p 附上作品連結～這些都是用Bootstrap做的！（github當伺服器蠻好用的～
                                .webs
                                    a.weblink(href="https://jameshsu0407.github.io/web_DiamdiamBurger-RWD/" target="_blank")
                                        .webname 丹丹漢堡、
                                    a.weblink(href="https://jameshsu0407.github.io/web_lesson.ads-RWD/" target="_blank")
                                        .webname 課程廣告、
                                    a.weblink(href="https://jameshsu0407.github.io/web_game.office.website.component-RWD/" target="_blank")
                                        .webname 齊天大聖亂遊記官方網站、
                                    a.weblink(href="https://jameshsu0407.github.io/web_wedding.game.office-RWD/" target="_blank")
                                        .webname Wedding game、
                                    a.weblink(href="https://jameshsu0407.github.io/web_blog-RWD/index.html" target="_blank")
                                        .webname 旅遊部落格
                                .hashtag #米米的前端人生 #bootstrap #css #fontawesome
                        .bottom
                            .see
                                img(src="./img/fb/like.png", alt="like")
                                .people 氣炸姊、扛轎的和其他25人
                            hr
                            .feedback.row
                                .col-4.like
                                    i.far.fa-thumbs-up
                                    span 讚
                                .col-4.talk
                                    i.far.fa-comments
                                    span 留言
                                .col-4.share
                                    i.fas.fa-share
                                    span 分享
                            hr
                            .message
                                .photo
                                input.speak(placeholder="留言......")
                    #bottom_right_0304.post(data-aos="fade-up")
                        .top
                            .photo
                            .text
                                .name 許家誠
                                .date
                                    |3月4日 下午2:07
                                    i.fas.fa-globe-europe
                                    i.fas.fa-caret-down
                        .middle
                            .text
                                p 進公司前的面試主管就一直要我去學Bootstrap，直到今天我才開始接觸啊哈哈哈哈哈哈哈～
                                p 現今的我們在瀏覽網頁時不一定要使用電腦，手機就是我們最常用的設備！此外每家公司製造的尺寸不一，如果網頁沒有根據設備大小做調整，那麼在瀏覽網頁時就會只能看到部分，使用體驗就會很差，就會ㄎ一ˇ哞幾娃ㄌㄨㄧˋ
                                p 而Bootstrap就是為了對付這麻煩的東西而生成的框架，如此一來在製作網頁時就不需要在css中更改在不同尺寸的大小，Bootstrap只要在class中輸入特定的字就可以完成啦～
                                p 不過，嗚嗚嗚嗚，官方文件豪難看懂喔，都是英文，我在圖書館有借到一本書，希望有幫助！
                            .pic.aniimated-thumbnials
                                a(href="./img/postpic/bootstrapbook.jpg" title="讓響應式（RWD）網頁設計變簡單")
                                    img(src="./img/portfolio/bootstrapbook.jpg", alt="bootstrapbook")
                            .hashtag #米米的前端人生 #bootstrap 
                        .bottom
                            .see
                                img(src="./img/fb/like.png", alt="like")
                                .people 鹽酥英語、國師和其他7人
                            hr
                            .feedback.row
                                .col-4.like
                                    i.far.fa-thumbs-up
                                    span 讚
                                .col-4.talk
                                    i.far.fa-comments
                                    span 留言
                                .col-4.share
                                    i.fas.fa-share
                                    span 分享
                            hr
                            .message
                                .photo
                                input.speak(placeholder="留言......")
                    #bottom_right_0303.post(data-aos="fade-up")
                        .top
                            .photo
                            .text
                                .name 許家誠
                                .date
                                    |3月3日 下午3:00
                                    i.fas.fa-globe-europe
                                    i.fas.fa-caret-down
                        .middle
                            .text
                                p 辦公室的格局如下，從叡揚的大門進去後右轉就到了辦公室，辦公室內部是一個長方形，門口就在長方形的尾端。進門後空間是向左延伸過去的，最底的地方也就是靠近窗戶那邊分成兩區，一個是PD1，另一個是PD2。
                                p PD1是負責後端程式的，而PD2是負責前端。我就是PD2的一員，部門內加我有6個人～接著中間區域是客服部門，再往門口靠近是業務部門。
                                p 當初帶我們介紹公司的客服經理Anita在介紹的時候還笑著說公司是按照音量大小排位置的。最裡面的PD1、PD2都在打程式，鮮少聊天，都在各自農碼；中間的客服偶爾會接電話處理客戶的問題，蠻常說話的；而最外面的業務一天到晚跑來跑去，在辦公室時也是瘋狂用電話聯絡客戶，因此聲音就很多～
                            .pic
                        .bottom
                            .see
                                img(src="./img/fb/like.png", alt="like")
                                .people 善逸的謊言、Copy House和其他2人
                            hr
                            .feedback.row
                                .col-4.like
                                    i.far.fa-thumbs-up
                                    span 讚
                                .col-4.talk
                                    i.far.fa-comments
                                    span 留言
                                .col-4.share
                                    i.fas.fa-share
                                    span 分享
                            hr
                            .message
                                .photo
                                input.speak(placeholder="留言......")                   
                    #bottom_right_0302.post(data-aos="fade-up")
                        .top
                            .photo
                            .text
                                .name 許家誠 在 網軟
                                .date
                                    |3月2日 下午5:45
                                    i.fas.fa-globe-europe
                                    i.fas.fa-caret-down
                        .middle
                            .text
                                p 今天是第一天上班～帶著既期待又害怕的心情來到公司。
                                p 公司的位置在大同大學對面，蠻好認的，平常中午吃飯也可以到附近的晴光市場吃，交通很方便～
                                p 我們先了解環境。大門走進去後右轉進入旁邊的房間，這就是我們的辦公室（對，蠻小的，還跟叡揚共用...)至於為什麼辦公室小呢～因為人數非常少！加我們實習生一共也才25人喔喔。其實當初就已經知道網軟是小公司，但正因為是小公司，能學習的東西就非常多～希望自己能夠越來越好。
                            .pic
                                iframe#map(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.041949325076!2d121.52049571500693!3d25.066567283957095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x140dd0f467a85e51%3A0x721f721f1255cf08!2z57ay6Luf6IKh5Lu95pyJ6ZmQ5YWs5Y-4!5e0!3m2!1szh-TW!2stw!4v1588754282128!5m2!1szh-TW!2stw")
                        .bottom
                            .see
                                img(src="./img/fb/like.png", alt="like")
                                .people 法拉利姊、嘉民和其他5人
                            hr
                            .feedback.row
                                .col-4.like
                                    i.far.fa-thumbs-up
                                    span 讚
                                .col-4.talk
                                    i.far.fa-comments
                                    span 留言
                                .col-4.share
                                    i.fas.fa-share
                                    span 分享
                            hr
                            .message
                                .photo
                                input.speak(placeholder="留言......")
                    #loading
                        .dots
                            .dot.dot1
                            .dot.dot2
                            .dot.dot3
        //- jquery
        script(src="./js/jquery.js")
        //- lightgalery
        script(src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.7.0/js/lightgallery-all.js")
        //- AOS
        script(src="./js/aos.js")
        //- script
        script(src="./js/james.js")

