<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="./james.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    body
        .topbar
            img.icon(src="http://www.freeiconspng.com/uploads/images-facebook-f-logo-png-transparent-background-page-2-29.png")
            input#search_input(placeholder="搜尋人、地點、事物")
        .cover
        .container
            .midbar
                .personimg
                    .names
                        h2.name 許家誠
                        h5.emg_name (James Hsu)
            .row
                .col-12.col-lg-4
                    #bottom_left_first.experence
                        p
                            i.fa.fa-briefcase
                            span &nbsp;在網軟擔任努力學習中的設計師<br>
                            i.fa.fa-graduation-cap 
                            span &nbsp;之前任職青年志工大聯盟副資傳長<br> 
                            i.fa.fa-university
                            span &nbsp;就讀元智大學資訊管理學系<br>
                            i.fa.fa-plane
                            span &nbsp;現居台北市<br>
                            span.edit 編輯詳細資料
                    #bottom_left_second.postpic
                        .postpictitle
                            img(src="./img/picture.png", alt="")
                            span 相片
                            .add 新增相片
                        .postpics.row
                            .col-4.postpic1
                                img(src="https://fakeimg.pl/150/", alt="postpic").img-fluid
                            .col-4.postpic2
                                img(src="https://fakeimg.pl/150/", alt="postpic").img-fluid
                            .col-4.postpic3
                                img(src="https://fakeimg.pl/150/", alt="postpic").img-fluid
                            .col-4.postpic4
                                img(src="https://fakeimg.pl/150/", alt="postpic").img-fluid
                            .col-4.postpic5
                                img(src="https://fakeimg.pl/150/", alt="postpic").img-fluid
                            .col-4.postpic6
                                img(src="https://fakeimg.pl/150/", alt="postpic").img-fluid
                            .col-4.postpic7
                                img(src="https://fakeimg.pl/150/", alt="postpic").img-fluid
                            .col-4.postpic8
                                img(src="https://fakeimg.pl/150/", alt="postpic").img-fluid
                            .col-4.postpic9
                                img(src="https://fakeimg.pl/150/", alt="postpic").img-fluid
                    #bottom_left_third.friends
                        .friendstitle
                            img(src="./img/friend.png", alt="")
                            span 朋友
                            .add 尋找朋友
                        .friendspics.row
                            .col-4.friendpic1
                                img(src="./img/friendpic/friendpic1.jpg", alt="postpic").img-fluid
                                span 扛轎的
                            .col-4.friendpic2
                                img(src="./img/friendpic/friendpic2.png", alt="postpic").img-fluid
                                span 善逸的謊言
                            .col-4.friendpic3
                                img(src="/img/friendpic/friendpic3.jpg", alt="postpic").img-fluid
                                span 嘉民
                            .col-4.friendpic4
                                img(src="/img/friendpic/friendpic4.png", alt="postpic").img-fluid
                                span Copy House
                            .col-4.friendpic5
                                img(src="/img/friendpic/friendpic5.jpg", alt="postpic").img-fluid
                                span 亞洲實幹王
                            .col-4.friendpic6
                                img(src="/img/friendpic/friendpic6.jpg", alt="postpic").img-fluid
                                span 氣炸姊
                            .col-4.friendpic7
                                img(src="/img/friendpic/friendpic7.jpeg", alt="postpic").img-fluid
                                span 國師
                            .col-4.friendpic8
                                img(src="/img/friendpic/friendpic8.jpg", alt="postpic").img-fluid
                                span 鹽酥英語
                            .col-4.friendpic9
                                img(src="https://fakeimg.pl/150/", alt="postpic").img-fluid
                                span 我是誰     
                .col-12.col-lg-8
                    #bottom_right_first.write
                        .topicon
                            ul
                                li
                                    i.fa.fa-pencil-alt
                                    |&nbsp;建立貼文
                                li 
                                    i.fa.fa-camera
                                    |&nbsp;相片 / 影片
                                li
                                    i.fa.fa-video 
                                    |&nbsp;直播視訊
                                li
                                    i.fas.fa-flag
                                    |&nbsp;生活要事
                        .top
                            .photo
                            .text 在想什麼呢？
                        .icon
                            ul
                                
                                li 
                                    img(src="./img/picture.png", alt="")
                                    span 相片 / 影片
                                li
                                    img(src="./img/tag.png", alt="")
                                    span 標註朋友
                                li
                                    img(src="./img/smile.png", alt="")
                                    span 感受 / 活動
                                li
                                    span ...
                        .btns
                            .button.open
                                i.fas.fa-globe-europe
                                |公開
                                i.fas.fa-caret-down
                            .button.publish 發佈

                    #bottom_right_0303.post
                        .top
                            .photo
                            .text
                                .name 許家誠
                                .date
                                    |3月3日 下午3:00
                                    i.fas.fa-globe-europe
                                    i.fas.fa-caret-down
                        .middle
                            .text
                                p 辦公室的格局如下，從叡揚的大門進去後右轉就到了辦公室，辦公室內部是一個長方形，門口就在長方形的尾端。進門後空間是向左延伸過去的，最底的地方也就是靠近窗戶那邊分成兩區，一個是PD1，另一個是PD2。
                                p PD1是負責後端程式的，而PD2是負責前端。我就是PD2的一員，部門內加我有6個人～接著中間區域是客服部門，再往門口靠近是業務部門。
                                p 當初帶我們介紹公司的客服經理Anita在介紹的時候還笑著說公司是按照音量大小排位置的。最裡面的PD1、PD2都在打程式，鮮少聊天，都在各農碼；中間的客服偶爾會接電話處理客戶的問題，蠻常說話的；而最外面的業務一天到晚跑來跑去，在辦公室時也是瘋狂用電話聯絡客戶，因此聲音就很多～
                            .pic
                        .bottom
                            .see
                                img(src="./img/like.png", alt="")
                                .people 善逸的謊言、Copy House和其他2人
                            hr
                            .feedback.row
                                .col-4.like
                                    i.far.fa-thumbs-up
                                    span 讚
                                .col-4.talk
                                    i.far.fa-comments
                                    span 留言
                                .col-4.share
                                    i.fas.fa-share
                                    span 分享
                            hr
                            .message
                                .photo
                                input.speak(placeholder="留言......")
                    
                    #bottom_right_0302.post
                        .top
                            .photo
                            .text
                                .name 許家誠
                                .date
                                    |3月2日 下午5:45
                                    i.fas.fa-globe-europe
                                    i.fas.fa-caret-down
                        .middle
                            .text
                                p 今天是第一天上班～帶著既期待又害怕的心情來到公司。
                                p 公司的位置在大同大學對面，蠻好認的，平常中午吃飯也可以到附近的晴光市場吃，交通很方便～
                                p 我們先了解環境。大門走進去後右轉進入旁邊的房間，這就是我們的辦公室（對，蠻小的，還跟叡揚共用...)至於為什麼辦公室小呢～因為人數非常少！加我們實習生一共也才25人喔喔。其實當初就已經知道網軟是小公司，但正因為是小公司，能學習的東西就非常多～希望自己能夠越來越好。
                            .pic
                                iframe#map(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.041949325076!2d121.52049571500693!3d25.066567283957095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x140dd0f467a85e51%3A0x721f721f1255cf08!2z57ay6Luf6IKh5Lu95pyJ6ZmQ5YWs5Y-4!5e0!3m2!1szh-TW!2stw!4v1588754282128!5m2!1szh-TW!2stw")
                        .bottom
                            .see
                                img(src="./img/like.png", alt="")
                                .people 法拉利姊、嘉民和其他5人
                            hr
                            .feedback.row
                                .col-4.like
                                    i.far.fa-thumbs-up
                                    span 讚
                                .col-4.talk
                                    i.far.fa-comments
                                    span 留言
                                .col-4.share
                                    i.fas.fa-share
                                    span 分享
                            hr
                            .message
                                .photo
                                input.speak(placeholder="留言......")
                    #loading
                        .dots
                            i.fas.fa-circle.dot.dot1
                            i.fas.fa-circle.dot.dot2
                            i.fas.fa-circle.dot.dot3        

